// STYLE RESET

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

// ------------------------------------------

body {
  background-color: rgb(235, 236, 241);
}

nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 4rem;
}

a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

  input {
    border-radius: 4px;
    border: solid rgba(0, 0, 0, 0.333) 2px;
    padding: 4px;
  }

  select {
    border-radius: 4px;
    border: solid rgba(0, 0, 0, 0.333) 2px;
    padding: 4px;
  }
}

// --- TODOS --- 

.todo-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1rem;
}

.todo {
  border: solid rgba(0, 0, 0, 0.12) 2px;
  background-color: rgba(255, 255, 255, 0.819);
  padding: 1rem;
  border-radius: 1rem;
}

.done {
  display: block;
  text-transform: capitalize;
  color: rgb(191, 20, 20);
  font-weight: 600;
}

.date {
  display: block;
  color: rgb(155, 155, 155);
}

// --- POSTS --- 

.post-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1rem;
}

.post {
  border: solid rgba(0, 0, 0, 0.12) 2px;
  background-color: rgba(255, 255, 255, 0.819);
  padding: 1rem;
  border-radius: 1rem;
}

.content {
  display: block;
  color: rgb(0, 0, 0);
}

.author {
  display: block;
  color: rgb(70, 70, 70);
  font-style: italic;
}