// STYLE RESET

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  interpolate-size: allow-keywords;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

// ------------------------------------------

body {
  background-color: rgb(235, 236, 241);
}

nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 4rem;
}

a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}


.todo {
  border: solid rgb(105, 105, 105) 2px;
  padding: 1rem;
  border-radius: 1rem;
}

.done {
  display: block;
  color: rgb(39, 125, 58);
}

.date {
  display: block;
  color: rgb(147, 147, 147);
}